repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-ast
    - repo: https://github.com/psf/black
      rev: 23.3.0
      hooks:
          - id: black
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.0.270
      hooks:
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.0.0-alpha.9-for-vscode
      hooks:
          - id: prettier
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: 'v1.3.0'
      hooks:
          - id: mypy
